* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

p {
  display: inline-block;
}

header {
  background-color: blue;
  width: auto;
}

p,
h1 {
  font-family: "Oswald", sans-serif;
}

img {
  display: inline-block;
  max-width: 100%;
}



.firstphoto {
  position: relative;
  margin-left: 240px;
  margin-top: 80px;
  width: 463px;
  padding-top: 80px;
}

section h1 {

  margin-left: 240px;
  width: 184px;
  height: 38px;
  color: #ffffff;
  padding-top: 70px;
  background-color: blue;
}

.firstp {
  position: absolute;
  color: #171717;
  font-size: 18px;
  width: 480px;
  height: 65px;
  margin-left: 240px;
  padding: 315px 84px 40px 40px;
  top: 220px;
  left: 10px;
}

.secondphoto {
  width: 463px;
  height: 420px;
  position: relative;
  margin-left: 700px;
  margin-top: -500px;
}

.secondp {
  position: absolute;
  color: #171717;
  font-size: 18px;
  width: 480px;
  height: 65px;
  margin-left: 740px;
  padding: 315px 84px 40px 40px;
  top: 180px;
  left: 10px;
}

.third{
  position: absolute;
  color: #171717;
  font-size: 18px;
  width: 445px;
  height: 65px;
  margin-left: 240px;
  top: 590px;
  right: 1500px;
}

.thirdphoto{
  width: 463px;
  height: 420px;
  position: relative;
  margin-right: 240px;
  padding-top: 80px;
  margin-top: -2000px;
  margin-left: 1210px;
}

.firstdot,
.seconddot,
.thirddot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 25px;
}

.firstdot {
  margin-left: 1609px;
}

.seconddot,
.thirddot {
  opacity: 30%;
}
.bluebar {
background-color: blue;
}
