* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

p {
  display: inline-block;
}

header {
  background-color: blue;
}

img {
  display: inline-block;
  width: 463px;
  height: 420px;
}

nav {
  height: 308px;
  background-color: blue;
}

.firstphoto {
  position: relative;
  margin-left: 240px;
  margin-top: 80px;
}

header h1 {
  margin-left: 240px;
  width: 184px;
  height: 38px;
  color: #ffffff;
  padding-top: 70px;
}

.firstp {
  position: absolute;
  color: #171717;
  font-size: 18px;
  width: 480px;
  height: 65px;
  margin-left: 240px;
  padding: 315px 84px 40px 40px;
  top: 150px;
  left: 10px;
}
